table {
    border-radius: 15px;
    margin-top: 50px;
    background-color: rgba(5, 5, 6, 0.29);
}
table td {
    text-align: center;
    color: #32ff32;
    width: 100px;
    height: 50px;
}
td:hover{
    background-color: #ff1f95;
    border-radius: 15px;
}

h2 {
    margin-top: 30px;
    color: #32ff32;
    text-align: center;
}
div{
    color: #ff1f95;
    margin-top: 40px;
    text-align:Center;
}
div a{
    color: #32ff32;
}
div a:hover{
    color: #ff1f95;
}
.bottomdiv{
    color: #ffffff;
    margin-top:250px;
    text-align:Center;
}